<section class="contact__section center flex-col">
    <div class="up__side soc__content flex w-full items-start">
        <h3 class="__title">CONTACT INFO</h3>
        <div class="social__side flex">
            <span class="__location">GEORGIA, TBILISI</span>
            <div class="__socials">
                <div class="social__items">
                    <span class="__up">[Abashidze 25, door#4, 0156]</span>
                    <span class="__down">[Abashidze 25, door#4, 0156]</span>
                </div>
                <div class="social__items">
                    <span class="__up">[+9957891300]</span>
                    <span class="__down">[+9957891300]</span>
                </div>
                <div class="social__items">
                    <span class="__up">[321234131313]</span>
                    <span class="__down">[321234131313]</span>
                </div>
                <div class="social__items">
                    <span class="__up">{{'[Info@edkw.ge]'}}</span>
                    <span class="__down">{{'[Info@edkw.ge]'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="down__side soc__content flex w-full items-start">
        <h3 class="__title">SOCIAL MEDIA</h3>
        <div class="social__side flex">
            <span class="__location">FFIND US ON</span>
            <div class="__socials">
                <div class="social__items">
                    <span class="__up">[Facebook]</span>
                    <span class="__down">[Facebook]</span>
                </div>
                <div class="social__items">
                    <span class="__up">[Instagram]</span>
                    <span class="__down">[Instagram]</span>
                </div>
                <div class="social__items">
                    <span class="__up">[Youtube]</span>
                    <span class="__down">[Youtube]</span>
                </div>
                <div class="social__items">
                    <span class="__up">[+995 133 123 221]</span>
                    <span class="__down">[+995 133 123 221]</span>
                </div>
            </div>
        </div>
    </div>
</section>