<app-service-item></app-service-item>


<div class="service-items" style="margin-block: 100px;">
    <app-service-page-item [elementTop]="230" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" activeClass="highlight"></app-service-page-item>
    <app-service-page-item [elementTop]="230" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" activeClass="highlight"></app-service-page-item>
    <app-service-page-item [elementTop]="250" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" activeClass="highlight"></app-service-page-item>
</div>
<app-logos></app-logos>




<app-wizards></app-wizards>