@use "../../../../assets/styles/responsive.scss" as m;
$transition: 0.5s;

.banner-section {
  min-height: 121px;
  max-height: 121px;
  background-color: #dddddd;
  background-image: url(../../../../assets/img/banner.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 100px;
  transition: $transition;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;

  &.on-home {
    min-height: 100vh;
    max-height: 100vh;
  }

  &.loaded {
    .banner__content {
      .hidable__image {
        transition: $transition;
        transform: translateY(0);
        // transition-delay: 0.3s;

        .black__bird {
          opacity: 1;
          transition: $transition;
          transition-delay: $transition * 2;
        }

        .word__1,
        .word__2,
        .word__3,
        .word__4,
        .word__5,
        .word__6,
        .word__7,
        .word__8,
        .word__9,
        .word__10 {
          transform: translateY(0);
          max-height: 400px;
          transition: $transition * 2;
        }

        .word__1 {
          transition-delay: 0.1s;
        }

        .word__2 {
          transition-delay: 0.2s;
        }

        .word__3 {
          transition-delay: 0.3s;
        }

        .word__4 {
          transition-delay: 0.4s;
        }

        .word__5 {
          transition-delay: 0.5s;
        }

        .word__6 {
          transition-delay: 0.6s;
        }

        .word__7 {
          transition-delay: 0.7s;
        }

        .word__8 {
          transition-delay: 0.8s;
        }

        .word__9 {
          transition-delay: 0.9s;
        }

        .word__10 {
          transition-delay: 1s;
        }
      }

      .under__text {
        max-width: 1000px;
        // overflow: visible;
        // transition: $transition * 2;
        transition-delay: 1s;
      }
    }
  }

  .banner__content {
    // min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;

    .default__grid {
      @include m.respond-to(medium) {
        padding-left: 0;
        padding-right: 0;
        margin-left: -60px;
        .hidable__image {
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          max-height: 50px;
        }
      }
      max-width: 70%;
    }

    .right__side {
      opacity: 0;
      pointer-events: none;
      margin-top: 25px;
      @include m.respond-to(medium) {
        margin-top: 15px;

        padding-right: 20px;
        .btn {
          display: none;
        }
      }
    }

    .hidable__image {
      max-height: 400px;
      transition: $transition;

      .black__bird {
        opacity: 0;
        transition: $transition;
      }

      .word__1,
      .word__2,
      .word__3,
      .word__4,
      .word__5,
      .word__6,
      .word__7,
      .word__8,
      .word__9,
      .word__10 {
        transform: translateY(100%);
        max-height: 400px;
        transition: $transition;
      }
    }

    .under__text {
      max-width: 0px;
      white-space: nowrap;
      overflow: hidden;
      transition: $transition;
    }
  }

  &.compress {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // transition: $transition;

    .banner__content {
      .hidable__image {
        max-height: 80px;
        transition: 0.7;
        // transition-delay: 0s;

        // transform: translateY(100%);
        // transition-delay: 1;
      }

      .right__side {
        transition-delay: $transition * 3;
        opacity: 1;
        display: flex;
        pointer-events: initial;
      }
    }

    background-image: initial;
    padding-bottom: 0px;
    transition: $transition;
    min-height: 121px;
    max-height: 121px;
    position: fixed;
    &.hide__header {
      transition: 0.5s;
    }

    .under__text {
      transition-delay: 0s !important;
      opacity: 0;
      transition: 0.3s;
    }
    @include m.respond-to(medium) {
      min-height: 85px;
      max-height: 85px;
    }
  }

  &.hide__header {
    max-height: 0;
    min-height: 0;
    // opacity: 0;
    transition: $transition;
  }
}

.placeholder {
  position: absolute;
  max-height: 100vh;
  min-height: 100vh;
  transition: $transition;
  background-color: #dddddd;

  &.compress {
    min-height: 221px;
    max-height: 221px;
    transition: $transition;
    position: initial;
    @include m.respond-to(medium) {
      min-height: 85px;
      max-height: 85px;
    }
  }
  &.other {
    min-height: 121px;
    max-height: 121px;
    @include m.respond-to(medium) {
      min-height: 85px;
      max-height: 85px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
    max-height: 400px;
  }

  60% {
    transform: translateY(0);
    max-height: 400px;
  }

  //   80% {
  //     transform: translateY(0);
  //     max-height: 400px;
  //   }
  //   89% {
  //     transform: translateY(0);
  //     max-height: 400px;
  //   }

  //   75% {
  //     transform: translateY(0);
  //     max-height: 250px;
  //   }
  //   95% {
  //     transform: translateY(0);
  //     max-height: 150px;
  //   }
  100% {
    max-height: 80px;
  }
}

.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  max-height: 0;
  min-height: 0;
  transition: $transition ease-in;
  z-index: 1200;
  width: 100%;
  height: 100vh;
  background-color: #f8f6f2;
  display: flex;

  .left__side {
    display: flex;

    .menu__left {
      padding-top: 25px;
      padding-bottom: 60px;
      width: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 1px dashed #b80e45;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 3px;
        top: 0;
        height: 100%;
        border-right: 1px dashed #b80e45;
      }

      .__text {
        color: #b80e45;
        font-size: 14px;
      }
    }

    .nav__side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px dashed #b80e45;
      position: relative;
      width: 365px;
      padding-left: 60px;
      padding-top: 25%;
      padding-bottom: 20%;

      .__router {
        display: flex;
        font-size: 42px;
        cursor: pointer;
        transition: 0.3s;

        img {
          opacity: 0;
          transition: 0.3s;
        }

        &.active {
          img {
            transition-delay: 0.3s;
            opacity: 1;
            transition: 0.3s;
          }

          color: #b80e45;
          transition: 0.3s;
        }
      }

      .__socials {
        .social__items {
          overflow: hidden;
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          height: 24px;
          cursor: pointer;
          margin-bottom: 8px;

          .__down,
          .__up {
            transition: inherit;
          }

          &:hover {
            .__up {
              margin-top: -24px;
            }

            .__down {
              color: #b80e45;
            }
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 3px;
        top: 0;
        height: 100%;
        border-right: 1px dashed #b80e45;
      }
    }
  }

  .right__side {
    .content__side {
      background-image: url(../../../../assets/img/navigations/bg-home.svg);
      background-position: right bottom;
      background-repeat: no-repeat;
      transition: 0.3s;

      // background-size: 80%;
      &.About {
        background-image: url(../../../../assets/img/navigations/bg-about.svg);
      }

      &.Contact {
        background-image: url(../../../../assets/img/navigations/bg-contact.svg);
      }

      &.Services {
        background-image: initial;
      }

      display: flex;
      flex-direction: column;
      border-right: 1px dashed #b80e45;
      position: relative;
      padding-left: 20%;
      padding-top: 14%;

      &::after {
        content: "";
        position: absolute;
        right: 3px;
        top: 0;
        height: 100%;
        border-right: 1px dashed #b80e45;
      }
    }
  }

  &.active {
    pointer-events: initial;
    max-width: 100vw;
    min-height: 100vh;
    transition: $transition ease-in-out;
  }
}
