$transition : 1s;

.banner-section {
  min-height: 100vh;
  max-height: 100vh;
  background-color: #dddddd;
  background-image: url(../../../assets/img/banner.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 100px;
  transition: $transition;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;

  .banner__content {
    // min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;

    .default__grid {
      max-width: 70%;
    }

    .right__side {
      opacity: 0;
      pointer-events: none;
      margin-top: 25px;
    }

    .hidable__image {
      .black__bird {
        opacity: 0;
        transition: $transition;
      }

      .word__1,
      .word__2,
      .word__3,
      .word__4,
      .word__5,
      .word__6,
      .word__7,
      .word__8,
      .word__9,
      .word__10 {
        transform: translateY(100%);
        max-height: 400px;
        transition: $transition;
      }
    }

    .under__text {
      max-width: 0px;
      white-space: nowrap;
      overflow: hidden;
      transition: $transition;
    }
  }

  &.loaded {
    .banner__content {
      .hidable__image {
        transition: $transition;
        transform: translateY(0);
        transition-delay: 1;

        .black__bird {
          opacity: 1;
          transition: $transition;
          transition-delay: $transition * 2;
        }
        .word__1,
        .word__2,
        .word__3,
        .word__4,
        .word__5,
        .word__6,
        .word__7,
        .word__8,
        .word__9,
        .word__10 {
          transform: translateY(0);
          max-height: 400px;
          transition: $transition;
        }

        .word__1 {
          transition-delay: 0.1s;
        }
        .word__2 {
          transition-delay: 0.2s;
        }
        .word__3 {
          transition-delay: 0.3s;
        }
        .word__4 {
          transition-delay: 0.4s;
        }
        .word__5 {
          transition-delay: 0.5s;
        }
        .word__6 {
          transition-delay: 0.6s;
        }
        .word__7{
          transition-delay: 0.7s;
        }
        .word__8 {
          transition-delay: 0.8s;
        }
        .word__9 {
          transition-delay: 0.9s;
        }
        .word__10 {
          transition-delay: 1s;
        }
      }

      .under__text {
        max-width: 1000px;
        // overflow: visible;
        // transition: $transition * 2;
        transition-delay: 1s;
      }
    }
  }

  &.compress {

    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    .banner__content {
      .hidable__image {
        max-height: 80px;
        transition: $transition;
        // transform: translateY(100%);
        // transition-delay: 1;
      }

      .right__side {
        transition-delay: $transition;
        opacity: 1;
        display: flex;
      }
    }

    background-image: initial;
    padding-bottom: 0px;
    transition: $transition;
    min-height: 121px;
    max-height: 121px;
    position: fixed;

    .under__text {
      transition-delay: 0s !important;
      opacity: 0;
      transition: 0.3s;
    }
  }

  &.hide__header {
    max-height: 0;
    min-height: 0;
    // opacity: 0;
    transition: $transition / 2;
  }
}



.placeholder {
  position: absolute;
  max-height: 100vh;
  min-height: 100vh;
  transition: 1s;
  background-color: #dddddd;

  &.compress {
    min-height: 150px;
    max-height: 150px;
    transition: 1s;
    position: initial;
  }
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
    max-height: 400px;
  }

  60% {
    transform: translateY(0);
    max-height: 400px;
  }

  //   80% {
  //     transform: translateY(0);
  //     max-height: 400px;
  //   }
  //   89% {
  //     transform: translateY(0);
  //     max-height: 400px;
  //   }

  //   75% {
  //     transform: translateY(0);
  //     max-height: 250px;
  //   }
  //   95% {
  //     transform: translateY(0);
  //     max-height: 150px;
  //   }
  100% {
    max-height: 80px;
  }
}