.branding-section {
    background-color: #F9F8F4;
    padding-inline: 200px;
    min-height: 100vh;

    .center {
        background-color: white;

        .text__side {

            .__title {
                font-size: 62px;
                color: #000;
                margin-top: 18px;
            }
        }
    }
}