.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding-right: 60px;
    z-index: 100;

    .navigation {
        display: flex;

        .right__side {
            display: flex;
            height: 121px;
        }

        .left__side {
            // height: 100vh;
            display: flex;
            align-items: center;
            transition: height 2s ease-in-out;
        }
    }

    &.in-view {
        .navigation .left__side {
            // transition-delay: 0.1s;
            height: 121px;
        }
    }
}

.marquee {
    display: inline-block;
    animation: marquee 80s linear infinite;

    &.marquee-reverse {
        animation: marquee-reverse 100s linear infinite;
    }
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-size: 74px;
    font-size: 4vw;

    img {
        display: inline-block;
    }
}

.hover__block {
    position: relative;

    .hover__content {
        position: absolute;
        z-index: 12;
        bottom: 0;
        left: 0;
        width: 0px;
        display: flex;
        height: 30px;
        background: black;
        align-items: center;
        padding: 0 17px;
        opacity: 0;
        transition: 0.6s ease-in-out;
    }
    .hover__btn {
        position: absolute;
        top: 20%;
        right: 10%;
        z-index: 11;
        opacity: 0;
        transition: 0.3s;
        transition-delay: 0.3s;
    }


    &:hover {
        .hover__content {
            width: 100%;
            opacity: 1;
        }

        .hover__btn {
            opacity: 1;

        }
    }
}



.buisness__section {
    background-color: #f8f8f8;
}

.animation__section {
    min-height: 520px;
    background-color: black;
    padding-top: 130px;
    padding-bottom: 130px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}