<div class="center services__block">
    <div class="opt__dot"><span class="circle bg__{{service.name}}"></span> Intro</div>
    <div class="block__section">
        <div class="__left">
            <img src="../../../../assets/img/services/{{service.name}}.svg" alt="">
        </div>
        <div class="__right flex flex-col">
            <h1 class="__title">{{service.title}}<strong> {{service.boldTitle}} </strong> </h1>
            <span class="__text1">{{service.text1}}</span>
            <span class="__text2">{{service.text2}}</span>
        </div>
    </div>
</div>