.about-inner {
    padding-top: 50px;
    .sec__title {
        color: #000;
        font-size: 62px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 700px;
    }
    .brand__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 85px;

        .__left {
            max-width: 80%;
            display: flex;
            flex-direction: column;

            .__title {
                color: #000;
                font-size: 20px;
                display: block;
                margin-bottom: 12px;
            }

            .__text {
                color: #666666;
                font-size: 16px;
            }
        }
    }
}

.colors_sec {
    padding-block: 120px;

    .top__side {
        padding-left: 75px;
        max-width: 60%;

        .__title {
            color: #0D0D0D;
            font-size: 20px;
            padding-bottom: 20px;
        }

        .__text {
            color: #666666;
            font-size: 16;
            padding-bottom: 130px;
        }
    }

    .colors__block {
        display: flex;
        justify-content: flex-end;
        // padding-right: 160px;
        overflow: hidden;

        .__list {
            width: 280px;
            height: 320px;
            margin-right: -160px;
            transition: 0.3s;

            &:hover {
                margin-right: 0;
                transition: 0.3s;
            }

            // transform: translateX(160px);
        }
    }

}

.brand-sec {
    background-color: #000;
    padding-top: 90px;
    padding-bottom: 250px;

    .__title {
        font-size: 20px;
        color: #fff;
    }

    .__subText {
        font-size: 16px;
        color: #fff;
        padding-bottom: 50px;
    }
    .__left {
        max-width: 60%;
        padding-bottom: 75px;
    }
    .big__img {
        padding-left: 50px;
        img {
            margin-left: auto;
            max-width: 80%;
        }
    }

    .birds__seletion {
        display: flex;

        .list__item {
            padding-right: 25px;
            padding-top: 50px;

            .__list {
                background-size: 200px;
                background-position-y: 10px;
                background-position-x: -90px;
                background-repeat: no-repeat;
                width: 95px;
                height: 95px;
                border-radius: 100%;
                margin-top: 20px;
                transition: 0.3s;
                cursor: pointer;
            }

            .__text {
                color: white;
                font-size: 14px;
                transition: 0.3s;
                text-align: center;
                opacity: 0;
                text-transform: uppercase;
                margin-top: 10px;
            }

            &.active {
                .__list {
                    margin-top: 0px;
                    transition: 0.3s;
                }

                .__text {
                    opacity: 1;
                    transition: 0.3s;
                    transition-delay: 0.3s;
                }
            }
        }


    }

}


.rotate__block {
    min-height: 600px;
    display: flex;
    align-items: center;

    &.__black {
        background-color: #000;
    }

    .__left {
        color: #FFFFFF;
        font-size: 20px;
    }

    .__right {
        color: #FFFFFF;
        font-size: 16px;
    }
}

.rotated__effect {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 55px;

    .main__text {
        line-height: 100px;
        color: #000000;
        font-size: 90px;
        padding-bottom: 10px;


        &.__black {
            background-color: #000;
            color: #FFFFFF;
            font-size: 120px;
            position: relative;
            z-index: 40;

            &.__sec {
                transform: translateY(-40px);
                color: #868588;
                position: relative;
                z-index: 30;
            }

            &.__thr {
                transform: translateY(-80px);
                color: #3A363B;
                position: relative;
                z-index: 20;
            }
        }

    }

    .rot__text {
        margin-top: -15px;

        &.__black {
            margin-right: -25px;
            color: #FFFFFF;
            margin-top: -60px;
        }

        display: block;
        transform: rotate(90deg);
        font-size: 28px;
        color: #2B2B2B;
    }
}