<div class="wizards-content">
    <h1>Our Wizards...</h1>
    <div class="wizards-container">

        <div class="carousel flex" #carousel>
            <div class="carousel-inner flex" [style.width.px]="slideWidth * images.length">
                <div class="slide" *ngFor="let slide of images">
                    <img [src]="slide.image" alt="Slide">
                </div>
            </div>
        </div>

        <button (click)="prev()">Prev</button>
        <button (click)="next()">Next</button>

    </div>
</div>