.swiper-container {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    left: 10px;
    // background-image: url("path/to/your/prev-arrow.png");
}

.swiper-button-next {
    right: 10px;
    // background-image: url("path/to/your/next-arrow.png");
}
.carousel-inner {
    transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */

    // display: grid;
    // grid-template-columns: repeat(3, calc(33%));
    // display: grid;
    // grid-gap: 10px;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fill, 186px);
    .slide {
        display: flex;
        flex: 0 0 33.3333%;
        padding-right: 5px;
    }
}
