<app-service-item></app-service-item>
<div>
    <app-service-page-item appInViewNew inViewClass="in-view" [activeClass]="'compress'"
        [elementTop]="310"></app-service-page-item>
    <app-service-page-item appInViewNew inViewClass="in-view" [activeClass]="'compress'"
        [elementTop]="330"></app-service-page-item>
    <app-service-page-item appInViewNew inViewClass="in-view" [activeClass]="'compress'"
        [elementTop]="350"></app-service-page-item>
</div>
<app-wizards></app-wizards>
<div class="center">
    <app-also-check class="w-full"></app-also-check>
</div>