<div class="scrollefect-block"[appTrackScroll]="elementTop"
    [appTrackScrollBottom]="(scrollThresholdBottom)" [collapseClass]="activeClass"
    [class.anim-block]="activeClass !== 'compress'">
    <div class="block__item flex center">
        <div class="__left flex flex-col w-3/6">
            <div>
                <span class="title"><strong> Digital Advertising {{scrollThresholdBottom}} {{elementTop}}</strong></span>
                <span class="text">At Blackbird Company, we offer a cutting-edge solution designed to streamline your
                    workflow and
                    boost
                    productivity. Our innovative platform leverages advanced technology.</span>

                <button class="btn btn-secondary helvetica">Contact us</button>
            </div>

        </div>
        <div class="__right w-3/6">
            <img src="../../../../assets/img/service-pages/digital.svg" alt="">
        </div>
    </div>
</div>