.founter-section {
    border-top: 1px solid #484848;
    background-color: #000;
    min-height: 100vh;
    //   padding-block: 35px;
    display: flex;
    align-items: stretch;
    .founder__side {
      padding-block: 70px;
      padding-left: 120px;
      max-width: calc(100vw - 200px);
      min-width: calc(100vw - 200px);
      .__title {
        color: #666666;
        font-size: 36px;
        margin-bottom: 60px;
        display: block;
      }
      .founder__avatar {
        .avatar__info {
          padding-left: 50px;
          .__name {
            color: #fff;
            font-size: 32px;
          }
          .__description {
            max-width: 60%;
            color: #a1a1a1;
            font-size: 16px;
            display: block;
            margin-top: 20px;
          }
        }
      }
    }
  
    .slider__side {
      background-color: white;
      // min-width: 500px;
      border-radius: 2px;
      padding-left: 80px;
      .slides__text {
          font-size: 36px;
          color: #000;
      }
      .slides__img {
          height: 48px;
          width: 56px;
          min-height: 48px;
          min-width: 56px;
      }
    }
    .slides__block {
      margin-left: 100px;
      // flex-basis: 0 1 33%;
      .slide__items {
          min-width: 550px;
      }
    }
  }
  
  .scrollbar {
    &::-webkit-scrollbar {
      width: 8px; /* Change the width if needed */
      height: 8px; /* For horizontal scrollbar */
    }
  
    &::-webkit-scrollbar-track { 
      background: rgba(0, 0, 0, 0.2); /* Almost invisible thumb */
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2); /* Almost invisible thumb */
      border-radius: 4px; /* Rounded corners */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4); /* Slightly more visible on hover */
    }
  }
  