<section class="success__case">
  <div class="center">
    <div class="w-full">
      <span class="head__title">01 Samsung Rebranding Case</span>
      <div class="banner mb-8">
        <img
          class="w-full object-cover"
          src="../../../../assets/img/success-cases/banner2.svg"
          alt=""
        />
      </div>
      <div class="__details">
        <div>
          <h4 class="__title">Title 1</h4>
          <h6 class="__text">
            When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped
          </h6>
        </div>
        <div>
          <h4 class="__title">Title 2</h4>
          <h6 class="__text">
            When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped
          </h6>
          <div class="details__imgs flex gap-x-6 gap-y-6 flex-wrap">
            <img class="w-full object-cover" src="../../../../assets/img/success-cases/detail.svg" alt="">
            <img class="w-full object-cover" src="../../../../assets/img/success-cases/detail.svg" alt="">
          </div>
          <h6 class="__text">
            When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped in the delightful scent of wooden
            structures, have you ever considered the mountains where the trees
            grew?When you run your hand along the weathered, amber-hued wooden
            pillars or when you're enveloped
          </h6>
        </div>

      </div>
    </div>
  </div>
</section>
