<app-service-item></app-service-item>
<div style="margin-top: 100px; overflow: hidden;">
    <app-service-page-item [elementTop]="310" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" [activeClass]="'show-11'" activeClass="highlight"></app-service-page-item>
    <app-service-page-item [elementTop]="330" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" [activeClass]="'show-11'" activeClass="highlight"></app-service-page-item>
    <app-service-page-item [elementTop]="350" appTrackSectionScroll [scrollThresholdTop]="200"
        [scrollThresholdBottom]="100" [activeClass]="'show-11'" activeClass="highlight"></app-service-page-item>
</div>
<app-logos></app-logos>

<div style="margin-bottom: 80px;">
    <app-wizards></app-wizards>
</div>
<app-hover-block></app-hover-block>