<!-- <div class="background__image rotate__{{service.elementIndices().length}}"> -->
<div class="background__image rotate__{{service.elementIndices().length}}">
  <div class=" flex center h-100 py-[95px]">
    <div class="w-2/4" style="position: sticky ; top: 130px; height: 400px;">
      <p class="text-3xl">
        What we can help your business <strong>unlock</strong>
      </p>
      <div class="slider__Action flex items-end" *ngFor="let item of sliderItems">
        <!-- {{item}} -->
        <span class="slider__numbering w-5">
          0{{item}}
        </span>
        <div class="slider__line" [ngClass]="{'active': item ===  service.elementIndices().length}"></div>
      </div>
      <!-- active is {{service.elementIndices().length === 0 ? 0 : service.elementIndices().length}} -->
    </div>
    <div class="flex flex-col w-2/4 pt-95px">
      <div *ngFor="let item of items; let i = index" class="sticky-element p-[30px]" appInViewSticky
        [attr.data-index]="i">
        <h3 class="text-sm mb-[25px]">Marketing</h3>
        <h6 class="text-xs">
          At XYZ Company, we offer a cutting-edge solution designed to streamline your workflow and boost productivity.
          Our innovative platform leverages advanced technology to simplify complex tasks, saving you time and
          resources.
        </h6>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>