<div class="check__section h-100">
  @if (hasHeader) {
  <div class="__topside">
    <span class="__title">Also <strong> check...</strong></span>
    <span class="__text">Other beautiful services</span>
  </div>
  }
  <div class="blocks w-full grid grid-cols-2 gap-4">
    <ng-content></ng-content>

    <a
      class="content__items service"
      *ngFor="let item of services"
      [routerLink]="['/services', item?.name]"
    >
      <div class="flex ">
        <span  class="font-bold helvetica text-xl">
          {{ item?.name }}
        </span>
        <img
          class="__small-arrow"
          src="../../../../assets/img/navigations/nav-arrow.svg"
          alt=""
        />
      </div>
      <span class="__subtext block helvetica "> {{ item?.title }}</span>
    </a>
    <!-- <div class="content__items service ">
            <div class="flex">
                marketing
                <img class="__small-arrow" src="../../../../assets/img/navigations/nav-arrow.svg" alt="">
            </div>
            <span class="__subtext block"> lorem ipsum was here 10 min ago</span>
        </div>
        <div class="content__items service ">
            <div class="flex">
                marketing
                <img class="__small-arrow" src="../../../../assets/img/navigations/nav-arrow.svg" alt="">
            </div>
            <span class="__subtext block"> lorem ipsum was here 10 min ago</span>
        </div>
        <div class="content__items service ">
            <div class="flex">
                marketing
                <img class="__small-arrow" src="../../../../assets/img/navigations/nav-arrow.svg" alt="">
            </div>
            <span class="__subtext block"> lorem ipsum was here 10 min ago</span>
        </div> -->
  </div>
</div>
